<%- include('./partials/header.ejs') %>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="display-2">GolfTrader</h1>
    </div>
    <div class="col-6">
      <h2 class="small">You're go to destination for wasting money on golf clubs you don't need</h2>
    </div>
  </div> 
  <div class="row">
    <div class="col">
      <a href="/auth/google" class="btn btn-info margin mt-5">Log in with Google</a>
    </div>
  </div>
</div>




<%- include('./partials/footer.ejs') %>